.project-list {
    padding-bottom: 150px;
    width: 1400px;
    margin: 0 auto;
}

.project-list .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 445px;
    margin: 0 -30px;
    transition: .4s;
}

.project-list > .top {
    border-bottom: 1px solid #07283D;
    position: relative;
    overflow: hidden;
}

.project-list > .top .filter-active {
    display: flex;
    justify-content: space-between;
}

.project-list > .top .filter-active .swiper{
    width: 100%;
    padding-right: 100px;
}

.project-list > .top .filter-active .swiper:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(270deg, #00111c 40%, #ffffff00 100%);
    z-index: 2;
    width: 120px;
    pointer-events: none;
}

.project-list > .top .filter-active .swiper .swiper-slide {
    width: max-content;
}

.project-list > .top .filter-active .filter-links {
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    width: 70%;
}

.project-list > .top .filter-active .filter-links .item-holder {
    transition: .2s;
    width: 100%;
}

.project-list > .top .filter-active.search .filter-links .item-holder {
    transform: translateY(140%) scale(.5);
}

.project-list > .top .filter-active.search .filter-links {pointer-events: none;}

.project-list > .top .filter-active .filter-links .link-item {
    color: #88adc5bd;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.8px;
    height: 25px;
    display: flex;
    align-items: center;
    padding: 0 15px 15px;
    /* text-transform: uppercase; */
    font-weight: normal;
    transition: .2s;
    text-align: center;
    justify-content: center;
    /* width: 100%; */
}

.project-list > .top .filter-active .filter-links .link-item.active {
    color: #b8d4e7;
}

.project-list > .top .filter-active .filter-links .link-item:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    bottom: -3px;
    height: 2px;
    background: #2C53B5;
    opacity: 0;
    transition-delay: 0s;
    transition: 0.3s;
    width: 0%;
}

.project-list > .top .filter-active .filter-links .link-item.active:before {
    opacity: 1;
    transition-delay: 0.1s;
    bottom: 0;
    width: 100%;
}

.project-list > .top .filter-active .search-input {
    position: absolute;
    display: flex;
    align-items: center;
    padding-left: 12px;
    gap: 25px;
    bottom: 0px;
    height: 55px;
    overflow: hidden;
    pointer-events: none;
}

.project-list > .top .filter-active .search-input svg {
    transition: .3s;
    transition-delay: 0s;
    transform: translateY(-60px);
}

.project-list > .top .filter-active .search-input input {
    color: #ffffff;
    font-size: 17px;
    font-family: 'Volte', sans-serif;
    font-weight: 400;
    letter-spacing: -0.34px;
    background: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 0;
    width: 24vw;
    -webkit-outline: 0 !important;
    outline: 0 !important;
    transition: .2s;
    transition-delay: .1s;
    transform: translateY(-70px);
}

.project-list > .top .filter-active .search-input input::placeholder {
    color: #7993C7;
    font-weight: 400;
}

.project-list > .top .filter-active.search .search-input svg {
    transform: translateY(0px);
    transition-delay: .1s;
}

.project-list > .top .filter-active.search .search-input input {
    transform: translateY(0px);
    transition-delay: .2s;
}

.project-list > .top .filter-active.search .search-input {
    pointer-events: all;
}

.project-list > .top .filter-active.search ~ .line {
    width: 100% !important;
    transition: .6s;
    left: 0 !important;
    visibility: visible;
}

.project-list > .top .filter-active .search-button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.project-list > .top .filter-active .search-button span.cross {display: none;}

.project-list > .top .filter-active .search-button > svg {
    position: absolute;
    top: 0;
    transition: .3s;
}

.project-list > .top .line {
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 2px;
    width: 76px;
    background: #2C53B5;
    visibility: hidden;
    transition: .5s;
    z-index: 1;
}

.project-list > .top .line.moving {
    transition: .3s;
}

.project-list > .top .filter-active .search-button span {
    color: #7993C7;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
    top: 4px;
    opacity: 1;
    transform: translateY(60px);
    transition: .3s;
}

.project-list > .top .filter-active.search .search-button > svg {
    transform: translateY(60px);
}

.project-list > .top .filter-active.search .search-button span {
    transform: translateY(0px);
}

@media only screen and (max-width: 1440px){
    .project-list {
        width: 1260px;
    }
}

@media only screen and (max-width: 1366px){
    .project-list {
        width: 1190px;
    }
}

@media only screen and (max-width: 1200px){
    .project-list {
        width: 90%;
        padding: 0 0px 100px;
    }
    .project-list > .top .filter-active .filter-links .link-item {
        font-size: 14px;
        padding: 0 11px 15px;
    }
    
    .project-list .list {
        min-height: 600px;
    }

    .project-list > .top .filter-active .search-button span:nth-child(2) {
        display: none;
    }
    
    .project-list > .top .filter-active .search-button span.cross {
        display: block;
    }
    
    .project-list > .top .filter-active .search-button span.cross svg {
        width: 30px;
        height: 30px;
        margin-top: -8px
    }

    .project-list > .top .filter-active .search-input input {
        width: 430px;
    }
}

@media only screen and (max-width: 900px){
    .project-list .list {
        margin: 0;
    }
    .project-list > .top .filter-active .swiper:before {
        width: 100px;
    }
}

@media only screen and (max-width: 767px){

    .project-list {
        padding: 0 0px 60px;
    }

    .project-list > .top .filter-active .filter-links {
        width: 100%;
        height: 50px;
        align-items: end;
    }

    .project-list > .top .filter-active .search-button {
        position: absolute;
        right: 0;
        z-index: 2;
        bottom: -9px;
        height: 60px;
    }

    .project-list > .top .filter-active .search-input {
        height: 50px;
    }

    .project-list > .top .filter-active .search-button > svg {
        top: 19px;
    }

    .project-list > .top .filter-active .search-button span.cross svg {
        margin-top: 8px;
        width: 25px;
        height: 25px;
    }

    .project-list > .top .filter-active .filter-links .link-item {
        padding: 0 10px 5px;
        font-size: 12px;
    }
    
    .project-list > .top .filter-active .search-input {
        gap: 15px;
    }
    
    .project-list > .top .filter-active .search-input input {
        font-size: 14px;
        width: 210px;
    }
    
    .project-list > .top .filter-active .search-input input::placeholder {
        font-size: 12px;
    }

    .project-list > .top .filter-active .swiper:before {
        width: 80px;
    }
}